
<div class="card">
  <header class="card-header post-header-color">
    <p class="post-header-color">
    Create New Post
    </p>
  </header>
  <div class="card-content">
    <div class="content">
    <form>
        <label class="is-turquoise">Title</label><br>
        <input class="textarea is-small" type="text" id="create-post-title"></input><br>
        <label class="is-turquoise">Content</label><br>
        <input class="textarea is-medium" type="text" id="create-post-content"></input><br>
       <button id="create-post-btn" class ="is-small ml-1 mb-1 yellow-button is-rounded button">Create</button>
    </form>  
    </div>
  </div>
  <div>    
</div>
<script src="/js/cpost.js"></script>
