<div>
    <header>Create New Post</header>
    <form>
        <label>Title</label><br>
        <input type="text" id="create-post-title"></input><br>
        <label>Content</label><br>
        <input type="text" id="create-post-content"></input><br>
       <button id="create-post-btn">Create</button>
    </form>
</div>
<script src="js/post.js"></script>