
<div class="is-size-1	is-turquoise">My Dashboard</div>
{{#each posts as |post|}}
<a href="edit/{{post.id}}">
  <header class="card-header blog-post p-2 my-4 is-justify-content-space-between height">
    <div>{{post.title}}</div>
    <div>{{format_date post.date_created}}</div>
  </header>
</a>
{{/each}}
</div>
<a href="/create"><button>+ New Post</button></a>
<script src="./js/post.js"></script>
