</div>
{{#each user.post as |post|}}
<a href="edit/{{post.id}}">
<div class="text-center">
  <p>{{post.title}}</p>
  <p>{{post.created_date}}</p>
</div>
</a>
{{/each}}
</div>
<button>+ New Post</button>
<script src="./js/dashboard.js"></script>
