</div>
{{#each user.posts as |post|}}
<a href="edit/{{post.id}}">
<div class="text-center">
  <p>{{post.title}}</p>
  <p>{{post.created_date}}</p>
</div>
</a>
{{/each}}
</div>
<a href="/create"><button>+ New Post</button></a>
<script src="./js/post.js"></script>
