{{!-- edit page --}}
<div class="card">
  <header class="card-header post-header-color">
    <p class="post-header-color">
      Edit Post
    </p>
  </header>
  <div class="card-content">
    <div class="content">
    <form>
        <label for="ed-post-title" class="is-turquoise">Title</label><br>
        <input class="textarea is-small" type="text" value="{{post.title}}" id="ed-post-title"></input>
        <label for="ed-post-content" class="is-turquoise">Content</label><br>
        <input class="textarea is-medium" type="text" value="{{post.content}}" id="ed-post-content"></input>

    </form>
    {{!-- have post id on the update and delete buttons to use for PUT/DELETE methods in JS --}}
    <div class="field is-grouped my-2">
        <p class="control">
            <button id= "update-post" class ="is-small ml-1 mb-1 yellow-button is-rounded button" data-post-id="{{post.id}}">Update</button>
        </p>
        <p class="control">    
            <button id= "delete-post" class ="is-small ml-1 mb-1 yellow-button is-rounded button" data-post-id="{{post.id}}">Delete</button>
        </p>    
    </div>
  </div>
  <div>    
</div>

<script src="/js/edpost.js"></script>

