<div class="is-size-1	is-pink">Home</div>

<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
{{!-- {{#if logged_in}} --}}
<a href="post/{{post.id}}">
{{!-- {{/if}} --}}
  <header class="card-header my-4 is-pink is-justify-content-space-between height gray-background">
    <div>{{post.title}}</div>
    <div>Posted by {{post.user.username}} on {{format_date post.date_created}}</div>
  </header>
{{!-- {{#if logged_in}} --}}
</a>
{{!-- {{/if}} --}}
{{/each}}