<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<a href="post/{{post.id}}">
  <div>
    <p>{{post.title}}</p>
    <p>Posted by {{post.user.username}} on {{post.created_date}}</p>
  </div>
</a>
{{/each}}
