<div>
<header>{{post.title}}</header>
{{post.content}}
<button>Add Comment</button>
</div>
{{#each post.comment as |comment|}}
<div>
<header>Posted by: {{comment.user.username}}</header>
<p>{{comment.content}}</p>
</div>
{{/each}}