{{!-- sign up page --}}
<div class="row">
  <div class = "col-md-6">
    <h2 class="is-pink is-size-3 has-text-weight-bold	">Sign Up</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label class="is-turquoise has-text-weight-bold" for="username-signup">username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label class="is-turquoise has-text-weight-bold" for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="mt-2 btn is-medium ml-1 mb-1 yellow-button is-rounded button" type="submit">Sign Up</button>
      </div>
      <div class="is-flex is-justify-content-flex-end">      
        <a href='/login' class="login-up-link is-turquoise has-text-weight-bold">Login instead</a> 
      </div>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>
